
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">





</style>
</head>
{% if session['logged_in'] %}
<body background="static/23I58PICyJv_1024.jpg">




    <div id="header">
        <h1 > Blog List</h1>
        <h2 > {{ session['username'] }} </h2>
    </div>

        <div id="menu">
        <h2>Menu</h2>
        <ul >
            {% for blog in blogs %}
            <li align="center">
                <p><a href="{{ url_for('blog',blog_id=blog[0]) }}">{{ blog[1] }}</a></p>
            </li>
            {% endfor %}
        </ul>
             <a href="{{ url_for('add_blog') }}">Add one</a>
              <a href="{{ url_for('logout') }}">logout</a>

    </div>
</body>
{% endif %}
</html>